<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <clear />
      <add name="php-7.0" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\PHP_7.0\php-cgi.exe" resourceType="Either" requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="rule 1L" stopProcessing="true">
          <match url="^(index\.php|assets|robots\.txt)"  />
          <action type="Rewrite" url="/-"  />
        </rule>
        <rule name="rule 3L" stopProcessing="true">
          <match url="^(.*)$"  />
          <action type="Rewrite" url="/index.php?/{R:1}"  appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>







