<div class="dz-item">
    <div class="dz-preview dz-file-preview">

      <div class="dz-cell middle">
        <div class="dz-handle"></div>
      </div>

      <div class="dz-cell top">
        <img data-dz-thumbnail width="100" height="100" />
      </div>

      <div class="dz-cell top">
        <textarea class="dz-caption" rows="5"></textarea>
      </div>

      <div class="dz-cell top">
        <div class="dz-details">
          <div class="dz-filename"><span data-dz-name></span></div>
          <div class="dz-size" data-dz-size></div>
        </div>
        <a href="javascript: void(0);" data-dz-remove>Remover</a>
        <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
        <div class="dz-success-mark"><span>✔</span></div>
        <div class="dz-error-mark"><span>✘</span></div>
        <div class="dz-error-message"><span data-dz-errormessage></span></div>
      </div>
    </div>
</div>
