//START TYPOGRAPHY STYLE
.btn{
  @include respond-to(tablet-landscape-desktop){
    padding: 15px 15px;
    font-size: 14px;
  }
  @include respond-to(tablet-portrait){
    padding: 15px 15px;
    font-size: 14px;
  }
}
.btn-long{
  padding-left: 55px;
  padding-right: 55px;
}

.btn-md{
  padding: 8px 15px;
}


.btn-rounded {
  padding: 8px 10px;
  border-radius: 100%;
}

// .btn-round-lg{
//   border-radius: 22.5px;
// }
// .btn-round{
//   border-radius: 17px;
// }
// .btn-round-sm{
//   border-radius: 15px;
// }
// .btn-round-xs{
//   border-radius: 11px;
//   padding-left: 10px;
//   padding-right: 10px;
// }
