/*START GLOBAL STYLE*/
*{ margin:0; padding:0;}
body{
  background-color: $body-bg;
  padding-right: 0 !important;
}

*:focus {
  outline: none;
}
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/*START LOAD ANIMATIONS */
%animation-default
{
  @include transition(all 0.2s ease-out 0s);
}
%animation
{
  @include transition(all 0.5s ease-out);
}
%animationSlow
{
  @include transition(all 0.9s cubic-bezier(0.19, 1, 0.22, 1) 0s);
}
%easeOutExpo {
  @include transition(all 0.9s cubic-bezier(0.19, 1, 0.22, 1) 0s);
}
.slide-animated{
  opacity: 0;
  //@extend %animation-default;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  //-webkit-animation-fill-mode: both;
  //animation-fill-mode: both;
}
button{
  @extend %animation;
  &:active{
    outline: none !important;
  }
  &:hover{
    outline: none !important;
  }
  &:focus{
    outline: none !important;
  }
}
hr{
  border-color: $gray-e4;
}
h1,h2,h3,h4{
  color: $black;
}
img{
  height: auto;
  //display: block;
  max-width: 100%;
}
a {
  color: $anchor;
  text-decoration: none;
  @extend %animation;
  &:hover{
    color: $hover;
    text-decoration: none;
  }
  &:focus{
    color: $hover;
    text-decoration: none;
  }
}
.has-feedback label ~ .form-control-feedback{
  top: 27px;
}

pre {
  margin: 0 0 20px;
}
iframe{
  max-width: 100%;
}

label {
  font-weight: 400;
  font-size: 14px;
}
label.error{
  position: absolute;
  color: red;
  font-size: 13px;
  bottom: -5px;
  @include respond-to(large-desktop){
    position: absolute;
    top: 50%;
    right: 25px;
    margin-top: -7.5px;
    height: 25px;
    margin-bottom: 0;
  }
  @include respond-to(medium-desktop) {
    position: absolute;
    top: 50%;
    right: 25px;
    margin-top: -7.5px;
    height: 25px;
    margin-bottom: 0;
  }
}
label.success {
  position: absolute;
  color: green;
  font-size: 13px;
  bottom: -5px;
}
blockquote{
  p{
    margin: 0 !important;
  }
}

.hover-effect{
  @extend %animation;
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  z-index: 0;
}

/*START TYPO CLASSES*/
.blue{
  color: $blue;
}
.text-primary{
  color: $anchor;
}
.text-success{
  color: $green;
}
.text-danger{
  color: $red;
}


/*START SOCIAL ICONS STYLE*/
.btn-social{
  color: $white;
  &+.btn-social{
    margin-top: 10px;
  }
  &:hover{
    color: $white;
  }
  .fa{
    float: left;
    line-height: 20px;
  }
}
.btn-facebook {
  @include social_media_colors($facebook);
}
.btn-twitter {
  @include social_media_colors($twitter);
}
.btn-pinterest {
  @include social_media_colors($pinterest);
}
.btn-instagram {
  @include social_media_colors($instagram);
}
.btn-google-plus {
  @include social_media_colors($google-plus);
}
.btn-linkedin {
  @include social_media_colors($linkedin);
}
.btn-youtube {
  @include social_media_colors($youtube);
}
.btn-dribbble {
  @include social_media_colors($dribbble);
}
.btn-foursquare {
  @include social_media_colors($foursquare);
}
.btn-flickr {
  @include social_media_colors($flickr);
}
.btn-vimeo {
  @include social_media_colors($vimeo);
}
.btn-tumblr {
  @include social_media_colors($tumblr);
}
.btn-rss {
  @include social_media_colors($rss);
}
.btn-email {
  @include social_media_colors($email);
}

.btn-bg-facebook {
  @include social_media_bg($facebook);
}
.btn-bg-twitter {
  @include social_media_bg($twitter);
}
.btn-bg-pinterest {
  @include social_media_bg($pinterest);
}
.btn-bg-instagram {
  @include social_media_bg($instagram);
}
.btn-bg-google-plus {
  @include social_media_bg($google-plus);
}
.btn-bg-linkedin {
  @include social_media_bg($linkedin);
}
.btn-bg-youtube {
  @include social_media_bg($youtube);
}
.btn-bg-dribbble {
  @include social_media_bg($dribbble);
}
.btn-bg-foursquare {
  @include social_media_bg($foursquare);
}
.btn-bg-flickr {
  @include social_media_bg($flickr);
}
.btn-bg-vimeo {
  @include social_media_bg($vimeo);
}
.btn-bg-tumblr {
  @include social_media_bg($tumblr);
}
.btn-bg-rss {
  @include social_media_bg($rss);
}
.btn-bg-email {
  @include social_media_bg($email);
}
.btn-bg-yahoo {
  @include social_media_bg($yahoo);
}

/*START ELEMENTS BEHAVIORS CLASSES*/
table{
  //@extend .table;
  margin-bottom: 15px;
}
.table-striped{
  > thead{
    > tr{
      > th{
        background-color: #e9e9e9;
        //color: $white;
        font-weight: 400;
        border-bottom: 0;
        border-right: 1px solid $white;
        padding: 10px 15px;
        &:last-child{
          border-right: none;
        }
        @include respond-to(tablet-portrait){
          padding: 5px 10px;
        }
      }
    }
  }
  > tbody{
    > tr:nth-of-type(2n+1){
      background-color: #eeeeee;
    }
    > tr{
      background-color: transparent;
      > td{
        padding: 10px 15px;
        @include respond-to(tablet-portrait){
          padding: 5px 10px;
        }
      }
    }
  }
}
.table-list{
  display: table;
  width: 100%;
}
.table-cell{
  display: table-cell;
  vertical-align: top;
  //white-space: nowrap;
}
.table-cell{
  display: table-cell;
  vertical-align: top;
  //white-space: nowrap;
}
.vertical-middle{
  vertical-align: middle;
}
.nav-inline{
  display:inline-block;
  list-style:none;
}
.list-inline{
  list-style:none;
  margin: 0;
  > li{
    padding: 0;
    padding-right: 10px;
    display: inline-block;
  }
}
.v-align-bottom{
  vertical-align: bottom !important;
}
.v-align-middle{
  vertical-align: middle !important;
}
.v-align-top{
  vertical-align: top !important;
}
.full-width{
  width: 100%;
}

.form-control{
  height: 42px;
  width: 100%;
  box-shadow: none;
  font-size: 14px;
  font-weight: 400;
  color: $gray-caption;
  padding: 6px 12px;
  line-height: 1.42857143;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  border: 1px solid $gray-ccc;
  &:focus{
    border-color: $anchor;
    outline: 0;
    box-shadow: none;
    //-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    //box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  }
  &:-moz-placeholder{
    color: #999;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: #999;
  }
  &::-webkit-input-placeholder {
    color: #999;
  }
  @include respond-to(tablet-landscape-desktop){
    width: 100%;
    height: 50px;
    font-size: 14px !important;
  }
  @include respond-to(tablet-portrait){
    width: 100%;
    height: 50px;
    font-size: 14px !important;
  }
}
.form-control.error {
  border: 1px solid red;
}
.form-control.success {
  border: 1px solid green;
}

/*START ALERT STYLE*/
.alert{
  border-radius: 0;
}
.alert-info{
  background-color: rgba(0, 174, 239, 0.1);
  border-color: rgba(0, 174, 239, 0.22);
}

/*START OWL AND SLICK SLIDER ARROWS STYLE*/
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus{
  color: transparent;
  outline: none;
  background: rgba($anchor, 0.8);
}

.owl-theme .owl-controls .owl-nav [class*=owl-]{
  @extend %animation-default;
}
.owl-controls .owl-nav .owl-prev:hover,
.owl-controls .owl-nav .owl-prev:focus,
.owl-controls .owl-nav .owl-next:hover,
.owl-controls .owl-nav .owl-next:focus,
.owl-controls .owl-nav .owl-next:active,
.owl-controls .owl-nav .owl-next:active{
  color: $white;
  outline: none;
  background: rgba($anchor, 0.75);
  border-color: rgba($anchor, 0.75);
}
.owl-prev .fa,.owl-next .fa{
  display: block;
  line-height: 21px;
  font-size: 16px;
}
.owl-controls .owl-nav .owl-prev{
  left: 12px;
  top: 50%;
  @include translate(0,-50%);
}
.owl-controls .owl-nav .owl-next{
  right: 12px;
  top: 50%;
  @include translate(0,-50%);
}
.owl-carousel .item-wrap{
  margin-bottom: 0;
}

/*START MARGINS AND PADDING CLASSES*/
.no-margin{
  margin: 0 !important;
  .module-item{
    padding-left: 0;
    padding-right: 0;
  }
}
.no-padding{
  padding: 0 !important;
}
.no-padding-bg{
  background: none !important;
  padding: 0 !important;
}
.no-padding-left{
  padding-left: 0;
}
.padding-right-none{
  padding-right: 0;
}
.padding-top-none{
  padding-top: 0 !important;
}
.padding-bottom-none{
  padding-bottom: 0 !important;
}

/*START UL > LI COLUMNS CLASSES*/
.list-two-col{
  @include list-col(2);
}
.list-three-col{
  @include list-col(3);
  @include respond-to(tablet-portrait){
    @include list-col(2);
  }
  @include respond-to(phone){
    @include list-col(1);
  }
}
.list-four-col{
  line-height: 25px;
  @include list-col(4);
  @include respond-to(tablet-portrait){
    @include list-col(2);
  }
  @include respond-to(phone){
    @include list-col(1);
  }
}


/*START INPUTS WITH ICONS CLASSES*/
.input-group-addon{
  padding: 5px 15px;
  background-color: $white;
  color: $text-gray;
}
.icon-holder{
  .form-control:not(textarea){
    padding-left: 54px;
  }
}
.field-group{
  width: 100%;
  border-radius: 4px;
  border: 1px solid $gray-ccc;
  overflow: hidden;
  input{
    display: block;
    height: 43px;
    border: none;
    font-size: 14px;
    line-height: 1.42857;
    margin: 0;
    font-weight: 300;
    padding: 6px 12px;
    width: 100%;
    &+input{
      border-top: 1px solid $gray-ccc;
    }
    @include respond-to(tablet-landscape-desktop){
      height: 50px;
      font-size: 14px;
    }
    @include respond-to(tablet-portrait){
      height: 50px;
      font-size: 14px;
    }
  }
}
.input-icon{
  position: relative;
  input{
    padding-left: 40px !important;
    position: relative;
    color: $gray-95;
  }
  &+.input-icon{
    border-top: 1px solid $gray-ccc;
  }
  &:before{
    color: $gray-95;
    text-align: center;
    font-family: $font-awesome;
    height: 43px;
    width: 40px;
    line-height: 43px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    @include respond-to(tablet-landscape-desktop) {
      height: 50px;
      line-height: 50px;
    }
    @include respond-to(tablet-portrait){
      height: 50px;
      line-height: 50px;
    }
  }

}
.input-icon-right{
  input{
    padding-left: 12px !important;
    padding-right: 40px !important;
  }
  &:before{
    left: auto;
    right: 0;
  }
}
.input-user{
  &:before{
    content: "\f007";
  }
}
.input-email{
  &:before{
    content: "\f0e0";
  }
}
.input-pass{
  &:before{
    content: "\f023";
  }
}
.input-search{
  &:before{
    content: "\f002";
  }
}
.input-calendar{
  &:before{
    content: "\f073";
  }
}
.input-level-down{
  &:before{
    content: "";
    background-image: url("../images/icons/save-search-icon.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}
.search-location{
  position: relative;
  .location-trigger{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 42px;
    line-height: 42px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    @include respond-to(tablet-portrait){
      height: 50px;
      line-height: 50px;
    }
  }
}

.white-block{
  background-color: $white;
  padding: 25px;
  @include respond-to(tablet-portrait){
    padding: 25px !important;
  }
}
.vegas-overlay{
  //background-image:url("../images/bg-video-1.png");
  background-color: rgba($black,.5);
  background-repeat: repeat;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.mapPlaceholder{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1;
  .loader-inner{
    position: absolute;
    left: 50%;
    top: 50%;
    @include translate(-50%,-50%);
  }
  .loader-ripple{
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform(translate(-50%,-50%) scale(0.4));
    //@include translate(-50%,-50%);
  }
}
.slider-placeholder{
  color: $white;
  @extend .mapPlaceholder;
}
.scrolltop-btn{
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 24px;
  background-color: $anchor;
  color: $white;
  padding:0;
  z-index:999;
  &:hover{
    opacity: .8;
  }

}
.btn.scrolltop-btn{
  display: none;
  padding-top: 0;
  padding-bottom: 0;
}
.dropdown-menu {
  > li{
    > a {
      padding: 10px 15px;
      @include respond-to(tablet-portrait){
        padding: 6px 15px;
        font-size: 12px;
      }
      &:hover{
        color: $black;
        text-decoration: none;
        background-color: $blue-trans
      }
      &:focus{
        color: $black;
        text-decoration: none;
        background-color: $blue-trans
      }
      &:active{
        color: $black;
        text-decoration: none;
        background-color: $blue-trans
      }
    }
  }
  >.active{
    >a{
      color: $white;
      text-decoration: none;
      background-color: $blue;
      outline: 0;
      &:hover{
        color: $white;
        text-decoration: none;
        background-color: $blue;
        outline: 0;
      }
      &:focus{
        color: $white;
        text-decoration: none;
        background-color: $blue;
        outline: 0;
      }
    }
  }
}
.container{
  padding: 0;
  @include respond-to(equal-tablet-portrait){
    padding-right: 15px;
    padding-left: 15px;
  }
  @include respond-to(tablet-portrait)
  {
    width: 480px;
  }
  @include respond-to(phone)
  {
    width: 100%;
  }
}

/*START MODELS STYLE*/
.modal-dialog{
  margin: 70px auto;
  @include respond-to(tablet-portrait){
    margin: 10px;
  }
}
.modal-content{
  border-radius: 0;
}
.modal-header{
  padding: 0;
  height: 60px;
  background-color: $gray-39;
  .close{
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    width: 60px;
    font-size: 22px;
    text-align: center;
    line-height: 55px;
    margin-top: 0;
    text-shadow: none;
    color: $white;
    @include opacity(1);
    border-left: 1px solid rgba($white,.15);
    .fa{
      position: relative;
      top: -3px;
    }
  }
  ul{
    float: left;
    margin: 0;
  }
  .modal-title{
    float: left;
    line-height: 26px;
    color: $white;
    padding: 16px 0 16px 24px;
    font-size: 18px;
    @include respond-to(tablet-portrait){
      font-size: 14px;
    }
  }
}
.modal-body.modal-payment{
  padding: 64px;
  text-align: center;
  .btn{
    padding: 13px 75px;
    margin-top: 12px;
  }
  @include respond-to(tablet-portrait){
    padding: 44px;
    .btn{
      padding: 10px 45px;
    }
  }
}
.modal-payment-text{
  @include typography(18px, 24px, 0 0 22px 0, 300, inherit, inherit);
  @include respond-to(tablet-portrait){
    font-size: 14px;
    line-height: 18px;
  }
}

/*START BOOTSTRAP SELECT STYLE*/
.bootstrap-select{
  width: 100% !important;
  .btn.btn-default{
    border: 1px solid $gray-ccc;
    color: $gray-caption;
    font-size: 14px;
    text-transform: none;
    height: 42px;
    background-color: $white;
    font-weight: 400;
    &:hover{
      background-color: $white;
    }
    &:focus{
      background-color: $white;
    }
    &.focus{
      background-color: $white;
    }
    @include respond-to(tablet-landscape-desktop){
      height: 50px;
      font-size: 14px ;
    }
    @include respond-to(tablet-portrait){
      height: 50px;
      font-size: 14px;
    }
  }
  > .dropdown-toggle{
    padding: 0 25px 0 15px;
  }
}
.bootstrap-select.open{
  .btn.btn-default{
    background-color: $white;
    box-shadow: none;
  }
}

/*START SHARE TOOLTIP STYLE*/
.share_tooltip{
  position: absolute;
  right: -4px;
  bottom: 35px;
  background-color: $blue;
  white-space: nowrap;
  display: block;
  padding:0 5px;
  visibility: hidden;
  @include border-radius(3px);
  a{
    display: inline-block;
    color: $white;
    font-size: 16px;
    padding:0 6px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    &:hover{
      color: $black !important;
    }
    @include respond-to(tablet-portrait){
      width: 20px;
      padding:0;
      font-size: 12px;
    }
  }
  &:after{
    border: solid transparent;
    content: ' ';
    height: 0;
    @include position(absolute, inherit, 10px, -13px, inherit,2);
    width: 0;
    border-width: 7px;
    border-top-color: $blue;
  }
  &.in{
    visibility: visible;
    z-index: 5;
  }
}
.tooltip_left{
  line-height: 16px;
  @include position(absolute, inherit, 30px, 50%, inherit,-1);
  @include translate(0,50%);
  &:after{
    @include position(absolute, inherit, -14px, 7px, inherit,2);
    border-top-color: transparent;
    border-left-color: $blue;
  }
}

/*START ITEM ACTIONS STYLE*/
.actions{
  margin: 0;
  list-style: none;
  font-size: 0 !important;
  li{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    color: $white;
    cursor: pointer;
    font-size: 12px;
    &:last-child{
      margin: 0;
    }
    > span{
      display: inline-block;
      width: 28px;
      height: 28px;
      line-height: 28px;
      border-radius: 4px;
      background-color: $black;
      @include opacity(0.6);
      text-align: center;
      &:hover{
        background-color: $anchor;
        @include opacity(0.8);
      }
    }
  }

}