@import 'variables.scss';

.properties-search-double-left {
  padding-right: 5px;
}
.properties-search-double-right {
  padding-left: 5px;
}
.properties-search-hr {
  margin: 10px 0;
}

.banner-search-main {
  .selectpicker {
    display: none;
  }
}

.ui-widget.ui-widget-content {
  border: 1px solid #f1f1f1;

  .ui-autocomplete-category {
    padding: 8px 10px;
    font-size: 13px;
    font-weight: bold;
    background: #f1f1f1;
  }

  .ui-menu-item {
    margin: 0;
    cursor: pointer;
    font-size: 13px;
    padding: 0;
    border-bottom: 1px solid #f1f1f1;

    .ui-menu-item-wrapper {
      position: relative;
      padding: 3px 10px;
      font-size: 12px;

      &.ui-state-active {
        border: 1px solid $red;
        background: $red;
        font-weight: normal;
        color: $white;
      }
    }
  }
}

.section-detail-content {
  #gallery,
  #map,
  #street-map {
    min-height: 430px;
  }
}

.owl-theme .owl-controls .owl-nav [class*=owl-] {
  font-family: 'fontAwesome';
  width: 40px;
  height: 40px;
  line-height: 35px;
  font-size: 30px;
}

.owl-carousel .owl-nav .owl-prev {
  &::before {
    content: "\f104";
    margin-right: 3px;
  }
}

.owl-carousel .owl-nav .owl-next {
  &::after {
    content: "\f105";
    margin-left: 3px;
  }
}

.properties-search-images {
  &.owl-theme .owl-controls .owl-nav [class*=owl-] {
    width: 30px;
    height: 30px;
    line-height: 28px;
    font-size: 20px;
  }
}

.properties-search-location-item {
  position: relative;
  padding: 6px 10px 6px 6px;
  border-bottom: 1px solid #e4e4e4;
  font-size: 13px;
  color: #999;
  background-color: transparent;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;


  .property-location-item-remove {
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -8px;
    opacity: .5;
    color: $red;
  }

  &:hover {
    background: #f1f1f1;

    .property-location-item-remove {
      opacity: 1;
    }
  }

  &.has-repeated {
    background-color: #f1f1f1;
  }
}

// BTN LIKE
.btn-like[data-like_status=liked],
.btn-like[data-like_status=liked]:hover {
  background: $red;
  color: $white;
}
.link-like[data-like_status=liked],
.link-like[data-like_status=liked]:hover {
  color: $red;
}

.mr20 { margin-right: 20px !important; }


.header-section-4 .header-right a.btn-anunciar-imovel {
  color: #004274;
  &:hover {
    background-color: $red;
    color: #fff;
    border-color: $red;
  }
}

.header-section-4 .header-right a {
  &:hover {
    background: darken($red,10%);
    color: $white;
  }
}

.pagination-main .pagination li.active a {
  background-color: $red;
}
.pagination-main .pagination a,
.pagination-main .pagination a:hover {
  color: $red;
}
